{% extends 'init.html.twig' %}

{# set page title #}
{% block title %}
  {{ title }}
{% endblock %}

{% block body %}

<!-- page specific stylesheets -->
<link href="{{ asset('css/profile/profile.css') }}" rel="stylesheet" />

<div class="row">
  <div class="col-sm-12">

    {# profile data table #}
    <table id="profile_table" class="table table-sm table-striped table-bordered">
      <thead>
        <tr>
          {% for key, attribute in profile %}
            <th>{{ key }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for key, attribute in profile  %}
            <td>{{ attribute }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-sm-12">
    <button type="button" class="btn btn-sm btn-primary" value="Update" data-toggle="modal" data-target="#profile_update_modal">Update</button>
  </div>


<!-- Profile update modal -->
<div class="modal fade" id="profile_update_modal" tabindex="-1" role="dialog" aria-labelledby="profile_update_modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}
