{% extends 'init.html.twig' %}

{# set page title #}
{% block title %}
  {{ title }}
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-sm-12">

    <p>Profile page</p>
    <p><a href="{{ path('add_profile') }}">Add profile</a></p>

    <hr />
    <p>
      {# standard foreach loop #}
      {% for i in 1..profiles %}
        <a href="{{ path('profileID', {'user_id': i}) }}">Profile page / {{ i }}</a><br />
      {% endfor %}
    </p>

  </div>
</div>

{% endblock %}
