{% extends 'init.html.twig' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-sm-12">
    <p>Alternative Homepage</p>
  </div>
</div>

{% endblock %}
