{% extends 'init.html.twig' %}

{# set page title #}
{% block title %}
  {{ title }}
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-sm-12">

    {# greet with URL name parameter #}
    {% if name is defined %}
      <p>Hi {{ name }}!</p>
      <p>I've added this new line for new commit!</p>
    {% endif %}

  </div>
</div>

{% endblock %}
